<!DOCTYPE html>
<head>
</head>
<body>
    <%- include('header.ejs') %>
    <div class="text-center mt4" style="margin-top: 2rem;">
        <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">การทำงานสำเร็จ</h1><br>
        <p>ชื่อการทดลอง :</p>
        <p>ผลการทดสอบ : {% result %}</p>
        <button id="saveButton" class="btn btn-primary">Save</button>
        <button class="btn btn-primary">Print</button><br><br>
        <p><a href="/alldata">All Data</a></p>
        <p><a href="/home">Back to home</a></p>
    </div>    

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        document.getElementById('saveButton').addEventListener('click', function() {
            axios.get('http://192.168.1.101:8000/save')
            .then(response => {
                console.log('Response:', response.data);
                if (response.status === 200) {
                    console.log('Save request succeeded.');
                    alert("save succesful !");    
                } else {
                    console.error('Save request failed.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
    <%- include('footer.ejs') %>
</body>
</html>